.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: 30%;
    width: 100%;

    div {
        position: absolute;
        width: 3em;
	height: 3em;
        padding: 0;
        border: none;
        background: rgba(0,0,0,0.2);
        border-radius: 100%;
        top: 0;
    }

    .owl-prev, .owl-next {
        .glyphicon {
	    font-size: 3em;
	}
    }

    .owl-prev {
        left: 0;
        margin-left: (0 - @page-padding + 5);
    }

    .owl-next {
        right: 0;
        margin-right: (0 - @page-padding  + 5);
    }
}

.owl-theme {
    .owl-wrapper-outer {
        //margin: 0 15px;
    }
}

.banners.owl-theme {
    .owl-controls .owl-buttons {
        top: 20%;
    }
}

.breaking-news-height(@width) {
    @media (min-width: @width) {
        .breaking-news.owl-theme,
        .breaking-news.owl-theme .owl-controls .owl-buttons > div { height: (@width / 3.3); }
    }
}

@media (max-width: 600px) {
    .breaking-news.owl-theme,
    .breaking-news.owl-theme .owl-controls .owl-buttons > div {
        height: 200px;
    }
}

.breaking-news-height(340px);
.breaking-news-height(380px);
.breaking-news-height(400px);
.breaking-news-height(480px);
.breaking-news-height(540px);
.breaking-news-height(600px);
.breaking-news-height(700px);
.breaking-news-height(800px);
.breaking-news-height(900px);
.breaking-news-height(1000px);
.breaking-news-height(1100px);
.breaking-news-height(1200px);
.breaking-news-height(1300px);

.breaking-news.owl-theme {
    margin-bottom: 15px;
    .owl-wrapper-outer,
    .owl-wrapper,
    .owl-item,
    .owl-item a{
      height: 100%;
    }
    .owl-item a {
      display: block;
      background-color: transparent;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .owl-controls {
      .owl-pagination {
        position: absolute;
        top: 5%;
        right: 8%;
        .owl-page {
          > span {
            background-color: @bordo-light;
          }
          &.active > span {
            background-color: @bordo;
          }
        }
      }
      .owl-buttons {
        position: absolute;
        top: 0;
        width: 100%;
        > div {
          width: 5%;
          margin: 0;
          padding: 0;
          border: none;
          background: rgba(0,0,0,0.2);
          border-radius: 0;
          top: 0;
          .glyphicon {
            top: 45%;
          }
        }
      }
    }
}